body {
  background-image: url(../imgs/clearSky.jpg);
  background-size: cover;
}

.container {
  width: 40vw;
  height: 60vh;
  background-color: rgba(33, 37, 41, 0.35);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.content {
  width: 30vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

h1 {
  border-bottom: 3px solid #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: red;
}

.checkBox {
  position: relative;
  width: 40px;
  height: 25px;
  appearance: none;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.checkBox::before {
  content: 'C';
  background: #438eff;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  text-align: center;
  font-size: 18px;
}

.checkBox:checked::before {
  content: 'F';
  background: #438eff;
  left: 15px;
}

.footer {
  position: absolute;
  bottom: 8px;
  right: 15px;
}
